.layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

main {
  align-items: start;
  display: grid;
  grid-area: main;
  grid-template-areas: ". content . sidebar";
  grid-template-columns: 1fr minmax(0, 800px) 1fr 2.3fr;
}

header {
  background: var(--bg1);
  grid-area: header;
}

footer {
  grid-area: footer;
}

main,
footer {
  margin: 0.5em 1.1em;
}

.content {
  grid-area: content;
}

.sidebar {
  display: none;
  flex-direction: column;
  grid-area: sidebar;
  margin-top: 3rem;
  position: sticky;
  top: 2rem;

  @media (--lg) {
    display: flex;
  }
}

.language {
  position: absolute;
  right: 1.6rem;
  top: 4rem;

  & .language__item {
    float: left;

    overflow: hidden;
    color: var(--fg);
    &:hover {
      color: var(--fg3);
      cursor: pointer;
    }
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--font-serif);
    & span {
      width: 94px;
      height: 22px;
      line-height: 1;
      display: block;
    }
  }
}

.inline-icon {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  margin-right: 3px;
  border: 0;
  display: inline-block;
  fill: var(--fg);
}

.flag {
  width: 22px;
  vertical-align: -4px;
  border: 0;
  margin-right: 3px;
}
