<!doctype html>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
/>
<html
  lang="{{ .Site.Language.Lang | default "en" }}"
  data-theme="{{ .Param "defaultTheme" | default "light" }}"
>
  {{ partial "head/head.html" . }}
  <body>
    <div class="layout">
      {{ partial "header.html" . }}
      <main>
        <div class="content">
          {{ block "main" . }}{{ end }}
        </div>
        {{ partial "sidebar.html" . }}
        {{ partial "language.html" . }}
      </main>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
