<div class="post-meta">
  {{ with .page.Date }}
  <span>
    <div alt="Date"class="inline-icon">
      {{ with resources.Get "img/icons/calendar.svg" }}
          {{ .Content | safeHTML }}
        {{ end }}
    </div><span class="post-meta__date">{{ . | time.Format ":date_long" }}</span></span>
  {{ end }}
  {{/*  {{- with .page.Params.Author -}}
    <span> by </span> <span class="post-meta__author">{{ . }}</span>
  {{- end -}}  */}}
  {{ if .page.Params.readingTime }}
    <span style="margin-left: 14px;">
      <div alt="Reading time" class="inline-icon">
        
        {{ with resources.Get "img/icons/timer.svg" }}
          {{ .Content | safeHTML }}
        {{ end }}
      </div><span class="post-meta__date">{{ .page.ReadingTime }}
      {{ T "minute" }}{{ if (gt .page.ReadingTime 1) }}{{ T "plural" }}{{ end }}</span>
      </span>
  {{ end }}
  {{ with .page.Params.tags }}
    <div class="post-tags">
      {{ range . -}}

        <a
          class="post-tag"
          href="{{ urlize ((printf "/tags/%s" .) ) | relLangURL  }}"
        >
          {{- /* Replace hyphen with non-breaking hyphen */ -}}
          {{- replace (urlize .) "-" "&#8209;" | safeHTML -}}
        </a>
      {{- end }}
    </div>
  {{ end }}

  {{ if .page.Params.cover }}
    <!-- 
        Only lazy-load images below-the-fold. For post lists, start loading 
        covers from the third post and onwards.
      -->
    {{ $lazy := ge .pageIndex 2 }}
    {{ partial "image.html" (dict "src" .page.Params.cover.src "alt" .page.Params.cover.alt "caption" .page.Params.cover.caption "page" .page "lazy" $lazy) }}
  {{ end }}
</div>
